<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@if (ViewBag.Title == null || ViewBag.Title == "") {
            <text>Data Estate Subscription</text>
            }
        </title>
		<!-- Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Add DEV/Release separation later-->
		<environment include="Development">
			<link rel="stylesheet" type="text/css" href="~/css/style.css" />
			<link rel="stylesheet" type="text/css" href="~/css/style-mobile.css" />
		</environment>
		<environment exclude="Development">
			<link rel="stylesheet" type="text/css" href="~/css/style.min.css" />
		</environment>
	</head>
	<body>
		<header id="main-header" class="page-header container-fluid navbar-fixed-top primary-nav navbar">
			<div class="logo-container">
				<img class="logo" src="~/images/shield.png" alt="Data Estate Symbol (white)" />
			</div>
        <nav class="header-content">
            <!-- Navigation-->
            @if (ViewBag.BannerTitle != null && ViewBag.BannerTitle != "")
            {
            <h2>@ViewBag.BannerTitle</h2>
            }
            else
            {
            <h2>Data Estate Subscription</h2>
            }
        </nav>
		</header>
		<main id="main-content">
			@RenderBody()
		</main>
		<footer id="main-footer" class="page-footer container-fluid">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">Copyright © 2019 Data Estate Pty. Ltd. </span>
					<span class="vertical-divider"> | </span>
					<span class="abn">ABN 13 615 924 224</span>
				</div>
			</div>
		</footer>
		<!--scripts-->
		<!--jQuery-->
		<environment include="Development">
			<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
			<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
			<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
		</environment>
		<environment exclude="Development">
			<script src="https://code.jquery.com/jquery-3.3.1.min.js"
							integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
							crossorigin="anonymous"></script>
			<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
			<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		</environment>
			<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
			@if (IsSectionDefined("Scripts"))
	{
		@RenderSection("Scripts")
}
</body>
</html>
