<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>@ViewBag.Title</title>
		<!-- Bootstrap-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Add DEV/Release separation later-->
		<link rel="stylesheet" type="text/css" href="~/css/style.css" />
		<link rel="stylesheet" type="text/css" href="~/css/style-mobile.css" />
	</head>
	<body>
		<header id="main-header" class="page-header container-fluid">
			<div class="logo-container">
				<img class="logo" src="~/images/shield.png" alt="Data Estate Symbol (white)"/>
			</div>
			<nav class="primary-nav navbar navbar-fixed-top">
				<!-- Navigation-->
			</nav>
		</header>
		<main id="main-content">
			@RenderBody()
		</main>
		<footer id="main-footer" class="page-footer container-fluid">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">Copyright © 2019 Data Estate Pty. Ltd. </span>
					<span class="vertical-divider"> | </span>
					<span class="abn">ABN 13 615 924 224</span>
				</div>
			</div>
		</footer>
	</body>
</html>
