@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="home-container" class="with-fixed-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Data Estate Payment Portal</h1>
				<p>
					Welcome to Data Estate. You have reached the general payment portal. The portal is currently under development
					and you can only make payments through a subscription invitation. Please see your email for an invitation with invitation IDs.  
				</p>
			</div>
		</div>
	</div>
</div>